n8n/workflows/01-menu-sync.json
{
  "name": "SATEM · 01 Menu Sync",
  "nodes": [
    {
      "parameters": {
        "content": "## 01 Menu Sync\n\nSincroniza diariamente el menu desde Google Sheets con SATEM Food Engine.\n\nTrigger: Cron 08:00 AM + Webhook POST /menu-sync\n\nConfigurar URL de Google Sheets publicada como CSV.",
        "color": 4,
        "width": 920,
        "height": 400
      },
      "id": "d22419d3-e26b-4d41-9fa5-2eab2ba83457",
      "name": "Sticky Note 84b3760e",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [190, 250]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "ec83b02c-2e7c-43b5-a3d2-a5c4ad24b05e",
      "name": "Daily at 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "<__PLACEHOLDER_VALUE__Google Sheets published CSV URL (File > Share > Publish to web > CSV)__>",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "a559a65e-24b9-4d24-ba0b-1160de5e488c",
      "name": "Fetch Google Sheets Menu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.NEXT_PUBLIC_APP_URL ?? \"http://localhost:3000\") + \"/api/webhooks/menu-sync\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-menu-sync-secret",
              "value": "={{ $env.MENU_SYNC_SECRET ?? \"\" }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { locationId: ($env.SATEM_DEFAULT_LOCATION_ID ?? \"default\"), rows: $json.data } }}"
      },
      "id": "94efd9b6-e5c9-458f-bbfe-522a2b7ecee7",
      "name": "Apply Menu Overrides to SATEM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [860, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "menu-sync",
        "responseMode": "responseNode"
      },
      "id": "86e70f10-d7ca-4817-a8e9-bbf63c18aaa7",
      "name": "Manual Sync Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 500],
      "webhookId": "0dac0d64-55e9-4c53-808b-6a888546a3bf"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, appliedAt: $now.toISO(), count: $json.results?.length ?? 0 } }}"
      },
      "id": "b4a6bcc8-d9d1-4969-b97e-d1f861c9d725",
      "name": "Respond Sync OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1160, 500]
    }
  ],
  "connections": {
    "Daily at 08:00": {
      "main": [
        [
          {
            "node": "Fetch Google Sheets Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google Sheets Menu": {
      "main": [
        [
          {
            "node": "Apply Menu Overrides to SATEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Menu Overrides to SATEM": {
      "main": [
        [
          {
            "node": "Respond Sync OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Sync Webhook": {
      "main": [
        [
          {
            "node": "Fetch Google Sheets Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  }
}
