n8n/workflows/04-nightly-maintenance.json
{
  "name": "SATEM · 04 Nightly Maintenance",
  "nodes": [
    {
      "parameters": {
        "content": "## 04 Nightly Maintenance\n\nEjecuta a las 02:00 AM diariamente:\n1. Resetea overrides de menu del dia anterior\n2. Obtiene estadisticas de ordenes\n3. Genera reporte nocturno\n\nExtender: enviar reporte por email/Telegram al administrador.",
        "color": 3,
        "width": 1200,
        "height": 200
      },
      "id": "bd88cf40-7422-4caf-be39-5a6f85d612e6",
      "name": "Sticky Note f90b10dd",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [190, 250]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 2,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "f84a9d29-7926-4824-b5ab-11a5505fd959",
      "name": "Nightly at 02:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.NEXT_PUBLIC_APP_URL ?? \"http://localhost:3000\") + \"/api/menu/reset-daily\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-menu-sync-secret",
              "value": "={{ $env.MENU_SYNC_SECRET ?? \"\" }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { locationId: ($env.SATEM_DEFAULT_LOCATION_ID ?? \"default\") } }}"
      },
      "id": "f2b0aa02-ca46-450f-8760-3b3762b7dddd",
      "name": "Reset Daily Menu Overrides",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [540, 300]
    },
    {
      "parameters": {
        "url": "={{ ($env.NEXT_PUBLIC_APP_URL ?? \"http://localhost:3000\") + \"/api/orders?status=COMPLETED&period=yesterday\" }}"
      },
      "id": "7b9be26c-d2e4-4186-96c6-192fd0d04017",
      "name": "Fetch Yesterday Orders Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [840, 300],
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "report-date",
              "name": "reportDate",
              "value": "={{ $now.minus(1, \"days\").toFormat(\"yyyy-MM-dd\") }}",
              "type": "string"
            },
            {
              "id": "report-count",
              "name": "orderCount",
              "value": "={{ $json.count ?? 0 }}",
              "type": "number"
            },
            {
              "id": "report-revenue",
              "name": "totalRevenue",
              "value": "={{ $json.totalRevenue ?? 0 }}",
              "type": "number"
            },
            {
              "id": "report-ts",
              "name": "generatedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "9e695f1b-1189-4bea-ae65-4bcfb07d9429",
      "name": "Build Nightly Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1140, 300]
    }
  ],
  "connections": {
    "Nightly at 02:00": {
      "main": [
        [
          {
            "node": "Reset Daily Menu Overrides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Daily Menu Overrides": {
      "main": [
        [
          {
            "node": "Fetch Yesterday Orders Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Yesterday Orders Stats": {
      "main": [
        [
          {
            "node": "Build Nightly Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  }
}
