n8n/workflows/05-low-stock-alert.json
{
  "name": "SATEM · 05 Low Stock Alert",
  "nodes": [
    {
      "parameters": {
        "content": "## 05 Low Stock Alert\n\nRecibe alertas de stock bajo via webhook desde SATEM o revisa cada hora.\n\nClasifico la severidad: CRITICAL (< 50% umbral) o WARNING.\n\nExtender: notificar por Telegram/WhatsApp/Email al encargado.",
        "color": 6,
        "width": 1200,
        "height": 500
      },
      "id": "ecb8e707-e9f1-4dd4-b290-c2c6d7bee86e",
      "name": "Sticky Note 752977ba",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [190, 150]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "low-stock-alert",
        "responseMode": "responseNode"
      },
      "id": "10ee0f8a-ff2b-49b6-9a36-30e8c323a58c",
      "name": "Low Stock Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "d450a663-4652-4fcd-8b2e-9c09b9fdba90"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "ing-id",
              "name": "ingredientId",
              "value": "={{ $json.body?.ingredientId ?? $json.ingredientId ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "ing-name",
              "name": "ingredientName",
              "value": "={{ $json.body?.ingredientName ?? $json.ingredientName ?? \"desconocido\" }}",
              "type": "string"
            },
            {
              "id": "curr-stock",
              "name": "currentStock",
              "value": "={{ $json.body?.currentStock ?? $json.currentStock ?? 0 }}",
              "type": "number"
            },
            {
              "id": "stock-unit",
              "name": "unit",
              "value": "={{ $json.body?.unit ?? $json.unit ?? \"unid\" }}",
              "type": "string"
            },
            {
              "id": "threshold",
              "name": "threshold",
              "value": "={{ $json.body?.threshold ?? $json.threshold ?? 0 }}",
              "type": "number"
            },
            {
              "id": "loc-name",
              "name": "locationName",
              "value": "={{ $json.body?.locationName ?? $json.locationName ?? \"Local\" }}",
              "type": "string"
            },
            {
              "id": "alert-msg",
              "name": "alertMessage",
              "value": "={{ \"[STOCK BAJO] \" + ($json.body?.ingredientName ?? $json.ingredientName ?? \"?\") + \": \" + ($json.body?.currentStock ?? $json.currentStock ?? 0) + \" \" + ($json.body?.unit ?? $json.unit ?? \"unid\") + \" (umbral: \" + ($json.body?.threshold ?? $json.threshold ?? 0) + \")\" }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "2ef83ac0-3a6f-4386-bc76-de344a769ad2",
      "name": "Normalize Alert Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [540, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.currentStock }}",
              "operator": {
                "type": "number",
                "operation": "smallerEqual"
              },
              "rightValue": "={{ $json.threshold * 0.5 }}"
            }
          ],
          "combinator": "and"
        }
      },
      "id": "3bc36a9d-6694-492a-8165-2d4cfc77f0de",
      "name": "Is Critical? (Stock < 50% Threshold)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "severity",
              "name": "severity",
              "value": "CRITICAL",
              "type": "string"
            },
            {
              "id": "alert-ts",
              "name": "alertAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "9e68d1a6-b6df-4714-b246-4830d8b174fd",
      "name": "Mark as Critical Alert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1140, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { received: true, severity: $json.severity, processedAt: $now.toISO() } }}"
      },
      "id": "913891e1-46e3-4751-9758-04379e15e77b",
      "name": "Respond Alert Received",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "severity",
              "name": "severity",
              "value": "WARNING",
              "type": "string"
            },
            {
              "id": "alert-ts",
              "name": "alertAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "02de80d9-df72-4715-8a37-bcfa892e45ec",
      "name": "Mark as Warning Alert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1140, 420]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "706aa8e8-4052-4b81-8048-d3f69d2146b5",
      "name": "Hourly Stock Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 500]
    },
    {
      "parameters": {
        "url": "={{ ($env.NEXT_PUBLIC_APP_URL ?? \"http://localhost:3000\") + \"/api/inventory/low-stock\" }}"
      },
      "id": "a0d11555-0dc4-49b9-8ac8-04d5289ac384",
      "name": "Fetch Low Stock Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [540, 500]
    }
  ],
  "connections": {
    "Low Stock Webhook": {
      "main": [
        [
          {
            "node": "Normalize Alert Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Alert Payload": {
      "main": [
        [
          {
            "node": "Is Critical? (Stock < 50% Threshold)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Critical? (Stock < 50% Threshold)": {
      "main": [
        [
          {
            "node": "Mark as Critical Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark as Warning Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Critical Alert": {
      "main": [
        [
          {
            "node": "Respond Alert Received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Warning Alert": {
      "main": [
        [
          {
            "node": "Respond Alert Received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hourly Stock Check": {
      "main": [
        [
          {
            "node": "Fetch Low Stock Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  }
}
